@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="d-flex justify-content-center">
        <p>Vul uw persoonlijke gegevens in: </p>

    </div>
    <hr/>
    <div class="row  justify-content-center">

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Factuuradress</h4>
            <form asp-controller="Basket" asp-action="Pay" method="get">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Voornaam</label>
                        <input type="text" class="form-control" name="firstName" placeholder="" value="" required="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Achternaam</label>
                        <input type="text" class="form-control" name="lastName" placeholder="" value="" required="">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="you@example.com" required>
                </div>

                <div class="mb-3">
                    <label for="adress">Adres</label>
                    <input type="text" class="form-control" name="adress" placeholder="Main St" required>
                </div>
                <div class="mb-3">
                    <label for="number">Huisnummer</label>
                    <input type="number" class="form-control" name="number" placeholder="12" min="0" required>
                </div>


                <div class="mb-3">
                    <label for="city">Stad</label>
                    <input type="text" class="form-control" name="city" placeholder="Amsterdam"  required>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Land</label>
                        <select class="custom-select d-block w-100" name="country" required="">
                            <option value="">Kies...</option>
                            <option value="NL">Nederland</option>
                            <option value="BE">België</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Postcode</label>
                        <input type="text" class="form-control" name="zipcode" placeholder="" required="">
                    </div>
                </div>
                <hr class="mb-4">


                <h4 class="mb-3">Betaalmethode</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="ideal" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="ideal">iDeal</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                </div>


                <hr class="mb-4">
                <button class="btn btn-dark btn-lg btn-block" type="submit">Betaal</button>
            </form>
        </div>
    </div>
    
    

</div>


<br />
<br />
<br />