@model Sk8er_Webshop.ViewModels.BasketViewModel
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex justify-content-center table table-striped">
    @if (Model.BasketItems.Count > 0)
    {
        <table>
            <thead>
            <tr>
                <td></td>
                <td>Product</td>
                <td>Amount</td>
                <td>Price</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.BasketItems)
            {
                <tr>

                    <td><img width="77" height="102" src=@item.Product.ImgURL/></td>
                    <td>@item.Product.Name</td>
                    <td>@item.Amount</td>
                    <td>@item.Product.Price</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p> Je hebt nog geen producten in je winkelmandje.</p>
    }
</div>