
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex justify-content-center table table-striped">
    <table>
        <thead>
        <tr>
            <td></td>
            <td>Product</td>
            <td>Amount</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test</td>
                <td>test123</td>
                <td>2</td>
                <td>30,-</td>
            </tr>
        </tbody>
    </table>
</div>