@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="container-fluid">
        <!--Row 1: info-->
        <div class="row footer">
            <div class="col footer-item"></div>
            <div class="col-sm footer-item">
                <p>Hulp nodig?</p>
                <ul>
                    <li>Contact</li>
                    <li>FAQ</li>
                    <li>Help Center</li>
                </ul>
            </div>
            <div class="col-sm footer-item">
                <p>Werk</p>
                <ul>
                    <li>Werken bij Sk8er</li>
                    <li>Vacatures</li>
                </ul>
            </div>
            <div class="col-sm footer-item">
                <p>Overig</p>
                <ul>
                    <li>Wie zijn wij?</li>
                </ul>
            </div>
            <div class="col-sm"></div>


            <div class="row footer"></div>
        </div>

        <!--Row 2: Copyright-->
        <div class="row footer-copyright">
            <div class="col-12"><p> © 2018 - Sk8er</p></div>
        </div>
    

</div>