@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="container-fluid">
        <!--Row 1: info-->
        <div class="row footer">
            <div class="col footer-item"></div>
            <div class="col-sm footer-item">
               
            </div>
            <div class="col-sm footer-item">
               
            </div>
            <div class="col-sm footer-item">
                
            </div>
            <div class="col-sm"></div>


            <div class="row footer"></div>
        </div>


</div>