body {
    font-family: 'Montserrat', sans-serif;
}

.div-center {
    display: block;
    margin: auto;
}

.footer { 
    background-color: #1E1E1E;
    color: white;
}

.footer-item {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.footer-item ul {
    list-style-type: none;
}

.footer-copyright {
    background-color: #141414;
}

.footer-copyright p {
    font-size: 8px;
    color: #606060;
}

.indent {
    text-indent: 100px;
}

.line-vertical {
    border-left: black;

}


/*Bootstrap overrides:*/
.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link {
    color: black;
}

.navbar a {
    margin-left: 20px;
}

.form-control:focus {
    color: black;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0.1rem black;
}

.form-control {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem black;
}
.card {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 600px;
    border: none;
    border-radius: 0rem;
}
.card-img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 600px;
    border-radius: 0rem;
}


