@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<br />
<br />

<div class="container">
    <form asp-controller="Login"  asp-action="RegisterUser" method="get">
        <br />
        <h4>Gebruikersgegevens (verplicht):</h4>
        <hr />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Gebruikersnaam: </label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email: </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Wachtwoord: </label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" onChange="passValidation()" required>
            </div>

            <div class="form-group col-md-6">
                <label for="passwordConfirm">Bevestig wachtwoord: </label>
                <input type="password" class="form-control" id="inputPasswordConfirm" name="passwordConfirm" placeholder="Password"  onChange="passValidation()" required>
            </div>
        </div>
        <div class="form-row">
            <h6 style="display: none" id="shortText">Wachtwoord te kort</h6>
        </div>
        <div class="form-row">
            <h6 style="display: none" id="matchText">Wachtwoorden komen niet overeen</h6>
        </div>
        <br />
        <hr />
        <button type="submit" class="btn btn-primary btn-lg" disabled="" id="registerButton">Registreer</button>
    </form>
</div>
<br /><br />
