@model Sk8er_Webshop.ViewModels.UserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Userpage";
    Layout = "_Layout";
}

<br />
<br />
<div class="container">
    <div class="d-flex justify-content-center">
        <h5>Welcome back @Model.CurrentUser.Username</h5>
    </div>
    <br />
    <div class="d-flex justify-content-between">

        <ul class="list-group">
            <li class="list-group-item active">Menu</li>
            <li class="list-group-item">My Orders</li>
            <a><li class="list-group-item">My Settings</li></a>
            <a><li class="list-group-item">My Shipping Adress</li></a>
        </ul>

    </div>
</div>
@if (Model.CurrentUser.AuthLevel == 1)
{
    <a asp-controller="Panel" asp-action="Index">
        <div class="d-flex justify-content-center">
            <button class="btn btn-danger">To Admin Panel</button>
        </div>
    </a>
}
<br />
<br />