@model Sk8er_Webshop.ViewModels.AllProductViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "All";
    Layout = "_Layout";
}
<br/>
<div class="container">
    @if (Model.Products.Count == 0)
    {
        <div class="body">
            <p>Er is niks gevonden!</p>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-3">
                    <a asp-controller="Product" asp-action="Details" asp-route-id=@product.Id>
                        <div class="card text-white div-center">
                            <img class="card-img" src=@product.ImgURL alt=@product.Name>
                            <div class="card-img-overlay">
                                <h5 class="card-title">@product.Name</h5>
                                <p>€@product.Price</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <br/>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">

                <div class="col"></div>

                <div class="col">

                    <p class="text-lg-center">

                        @if (Model.Page > 0)
                        {
                            <a asp-controller="Product" asp-action="All" asp-route-page=@Model.PrevPage asp-route-search=@Model.Search asp-route-category="@Model.Category">
                                <img src="~/Resources/001-back.png"/>
                            </a>
                        }
                        Page: @Model.NextPage
                        <a asp-controller="Product" asp-action="All" asp-route-page=@Model.NextPage asp-route-search=@Model.Search asp-route-category="@Model.Category">
                            <img src="~/Resources/002-right-arrow.png"/>
                        </a>
                    </p>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <br/>
    }
</div>

<br/>