@model Sk8er_Webshop.ViewModels.AllProductViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "All";
    Layout = "_Layout";
}


<br />
<div class="container">

    <div class="row">

        @foreach (var product in Model.products)
        {

            <div class="col-md-3">
                <a asp-controller="Product" asp-action="Details" asp-route-id=@product.Id>
                    <div class="card text-white div-center">
                        <img class="card-img" src=@product.ImgURL alt=@product.Name>
                        <div class="card-img-overlay">
                            <h5 class="card-title">@product.Name</h5>
                            <p>€@product.Price</p>
                        </div>
                    </div>
                </a>

            </div>
        }
    </div>

</div>

<br />



