
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="container">
    
    <div class="row">
        <div class="col-lg-7">
            <img class="img-fluid" src="https://cdn.webshopapp.com/shops/260322/files/222595769/patagonia-patagonia-retro-pile-vest-el-cap-khaki-2.jpg" alt="Photo Product" />
        </div>

        <div class="col">
            <br/>
            <h1>Patagonia Trui</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac nibh tempus, ornare metus eget, convallis elit. Etiam vitae tortor sem. Suspendisse at pharetra massa. Vestibulum ex arcu, feugiat sed mi eget, semper posuere tellus. Aliquam erat turpis, vehicula vel ex et, facilisis consequat justo. Aenean sodales mattis euismod. Ut et est convallis, egestas dui sit amet, rhoncus nisl.
            </p>
            <form>
                <div class="form-group">
                    <label for="selectSize">Selecteer een maat:</label>
                    <select class="form-control" id="selectSize">
                        <option>XS</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>
                    <br />
                    <h3>€39,99</h3>
                    <br/>
                    <button type="button" class="btn btn-default">Toevoegen aan winkelmand</button>

                </div>
            </form>
        </div>
    </div>
</div>
<br/>

