@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Panel Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <br />
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h5 class="text-center">Welcome to the admin panel.</h5>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <br />
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Producten</li>
                <li class="list-group-item">Alle producten</li>
                <a asp-controller="Panel" asp-action="AddNewProduct"><li class="list-group-item">Nieuw product toevoegen</li></a>
                <a asp-controller="Panel" asp-action="Stock"><li class="list-group-item">Voorraad</li></a>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Home</li>
                <li class="list-group-item">Slides</li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Orders</li>
                <a asp-controller="Panel" asp-action="AllOrders"><li class="list-group-item">All Orders by User</li></a>
            </ul>
        </div>
    </div>
    <br />
</div>