
@{
    ViewData["Title"] = "NewProductSuccesfull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="d-flex justify-content-center">
    <h2>Product added succesfully</h2>
</div>
<br/>

